{{>header}}
{{>nav}}
<form method="post">
    <div class="mb-3">
        <input name="name" placeholder="name">
    </div>
    <div class="mb-3">
        <input name="balance" placeholder="balance">
    </div>
    <div class="mb-3">
        <input name="age" placeholder="age">
    </div>

    <div class="mb-3">
        <input type="submit" value="add User">
    </div>
</form>

{{>footer}}